

.root {
	
    -fx-background-color:  #000000;
    /*nuevos*/
    -fx-background-image: url("/res/LittleHackerLogo.png");
    -fx-background-size: 640px 480px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: Top;

	
	
}

/* Style buttons */
.close {
    -fx-background-color: transparent;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-weight: bolder;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 30px;
    -fx-padding: 10 20 10 20;
}

.init {
	
	-fx-background-color: #B33F62;
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-weight: bolder;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 30px;
    -fx-padding: 10 20 10 20;
	
}

.exit {
	
	-fx-background-color: #7B1E7A;
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-weight: bolder;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 30px;
    -fx-padding: 10 20 10 20;
	
	
}

.creditos {
	
	-fx-background-color: #c5b358;
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-weight: bolder;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 30px;
    -fx-padding: 10 20 10 20;
	
	
}

